<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>

    <!-- goods -->
    <bean id="goodsDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url"  value="${goods.jdbc.url}" />
        <property name="username" value="${goods.jdbc.username}" />
        <property name="password" value="${goods.jdbc.password}" />
        <property name="maxActive" value="${goods.jdbc.maxActive}" />
        <property name="maxIdle" value="${goods.jdbc.maxIdle}" />
        <property name="maxWait" value="${goods.jdbc.maxWait}" />
        <property name="validationQuery" value="select 1" />
        <property name="testOnBorrow" value="true" />
        <property name="testWhileIdle" value="true" />
    </bean>

    <!-- orders -->
    <bean id="ordersDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url"  value="${orders.jdbc.url}" />
        <property name="username" value="${orders.jdbc.username}" />
        <property name="password" value="${orders.jdbc.password}" />
        <property name="maxActive" value="${orders.jdbc.maxActive}" />
        <property name="maxIdle" value="${orders.jdbc.maxIdle}" />
        <property name="maxWait" value="${orders.jdbc.maxWait}" />
        <property name="validationQuery" value="select 1" />
        <property name="testOnBorrow" value="true" />
        <property name="testWhileIdle" value="true" />
    </bean>

    <!-- 动态切库配置 -->
    <bean id="dynamicDataSource" class="com.lizza.datasource.RoutingDataSource">
        <!-- 通过key-value关联数据源 -->
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="goodsDataSource" key="DS_GOODS"></entry>
                <entry value-ref="ordersDataSource" key="DS_ORDERS"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="goodsDataSource" />
    </bean>

    <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource" />
        <property name="mapperLocations" value="classpath:/mapper/**/*Mapper.xml" />
    </bean>

    <!-- 扫描Dao接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描当前工程和commons工程中的DAO接口 -->
        <property name="basePackage" value="com.lizza.dao" />
    </bean>
</beans>